.deckCardSummary {
  color: var(--black);

  ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
  }

  li {
    text-decoration: none;
  }
}

.hasBorder {
  align-items: center;
  display: flex;
  border: none;
  text-align: center;
  margin: var(--pad-xxs) auto 0 auto;
  width: 100%;
  border-top: 2px solid var(--off-white);
}

@media only screen and (min-width: 650px) {
  .hasBorder {
    border-top: none;
    border-left: 2px var(--off-white) solid;
    padding-left: var(--pad-xs);
    text-align: left;
  }
}
