.deckCardSummary {
  color: var(--black);
  min-width: 200px;

  .centredList {
    margin: 0 auto;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    align-items: center;
    display: flex;
    text-decoration: none;

    svg {
      margin-right: var(--pad-xxs);
    }
  }
}

.noBorder {
  border-top: 2px solid var(--off-white);
  padding-top: var(--pad-xs);
  padding-bottom: var(--pad-xxs);
  justify-content: center;
  display: flex;
}

.hasBorder {
  align-items: center;
  display: flex;
  border: none;
  text-align: center;
  margin: var(--pad-xxs) auto 0 auto;
  width: 100%;
  border-top: 2px solid var(--off-white);
  padding: var(--pad-xs) 0;
  justify-content: center;
}

@media only screen and (min-width: 650px) {
  .hasBorder {
    border-top: none;
    border-left: 2px var(--off-white) solid;
    padding-left: var(--pad-xs);
    text-align: left;
    justify-content: start;
  }
}
