.deckCardSummary {
  color: var(--black);
  min-width: 200px;

  .centredList {
    margin: 0 auto;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    align-items: center;
    display: flex;
    height: 27.5px;
    text-decoration: none;

    svg {
      margin-right: var(--pad-xxs);
    }
  }
}

.redText {
  color: var(--red) !important;
}

.noBorder {
  border-top: 2px solid var(--off-white);
  padding-top: var(--pad-xs);
  padding-bottom: var(--pad-xxs);
  justify-content: center;
  display: flex;
}

.hasBorder {
  display: flex;
  border: none;
  width: 100%;
  border-top: 2px solid var(--off-white);
  padding-top: var(--pad-xs);
  padding-left: var(--pad-sm);
}

@media only screen and (min-width: 650px) {
  .hasBorder {
    padding-bottom: var(--pad-xs);
    border-bottom: 2px var(--off-white) solid;
  }
}

@media only screen and (min-width: 900px) {
  .hasBorder {
    border-top: none;
    padding-top: 0;
    border-bottom: none;
    border-left: 2px var(--off-white) solid;
    padding-bottom: 0;
  }
}
