.iconItem {
  font-weight: 600;
  color: var(--black);
  text-align: center;
  padding: 0 var(--pad-xxs);

  &:hover {
    cursor: initial;
    svg {
      fill: var(--black);
    }
  }

  p {
    margin-top: 0;
    font-size: var(--font-size-base) !important;
  }

  svg {
    margin: var(--pad-xxs);
    width: 3rem;
    height: 3rem;
  }
}

.iconItemHover {
  color: var(--white);

  svg {
    margin: var(--pad-xs);
  }

  &:hover {
    cursor: pointer;
    color: var(--green);
    transition: var(--ease-in);

    svg {
      fill: var(--green);
      transition: var(--ease-in);
    }
  }
}

.active {
  color: var(--green);
}
