.deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--pad-xxs);

  .manaRow {
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
  }
}
/* Mana specific styles */
.manaRow {
  margin-bottom: var(--pad-xs);
  display: flex;
  gap: var(--pad-xxs);
  justify-content: center;

  img {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (min-width: 650px) {
  .manaRow {
    justify-content: start;
  }
}
