.welcomeSubtext {
  margin: 0 auto var(--pad-sm) auto;
  border-bottom: 2px solid var(--dark-gray);
  padding-bottom: var(--pad-xs);
}

.howContainer {
  background-color: var(--blackest);
  padding: var(--pad-sm);
  width: 100%;

  h2 {
    margin-bottom: var(--pad-xs);
  }

  .flexSwap {
    gap: var(--pad-sm);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .step {
      display: flex;
      flex-direction: row;
      gap: var(--pad-xs);
      align-items: center;
      text-align: left;

      p {
        max-width: 145px;
        font-size: var(--font-size-md);
        line-height: 1.2;
        font-weight: bold;
      }

      svg {
        fill: var(--blue);
        width: 2rem;
        height: 2rem;
      }
    }

    .step2 p {
      max-width: 175px;
    }
  }
}

.faqContainer {
  max-width: 715px;
  margin: var(--pad-sm) auto;
  display: flex;
  justify-content: center;
  padding: var(--pad-sm);
  gap: var(--pad-sm);

  .question {
    padding-bottom: var(--pad-sm);
    border-bottom: 2px solid var(--darker-gray);
  }

  .question:last-child {
    border-bottom: none;
  }

  .emphasis {
    margin-bottom: var(--pad-xxxs);
    font-size: var(--font-size-md);
  }

  p {
    color: var(--white);
  }

  svg {
    color: var(--blue);
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* === Media Queries (Responsive) === */
@media only screen and (min-width: 750px) {
  .howContainer {
    .flexSwap {
      flex-direction: row !important;
      justify-content: center;
      gap: var(--pad-md);
      align-content: start;
    }
  }
}
