.editableCard {
  .cardChip {
    opacity: 0;
  }
  .cardFooterGroup .cardFooter {
    justify-content: space-between;
    display: flex;
    opacity: 1;
    transition: var(--ease-in);
    position: relative;
  }

  &:hover {
    .cardQuantity {
      display: none;
    }

    .cardChip {
      opacity: 1 !important;
      transition: var(--ease-in);
    }
  }
}

.cardChip {
  width: 3.25rem;
  height: 3.25rem;
  background-color: var(--blackest);
  margin-top: -50px;

  &:hover {
    opacity: 1 !important;
    cursor: pointer;
    color: var(--blue);

    svg {
      fill: var(--blue);
    }
  }

  svg {
    fill: var(--white);
    height: 2.5rem;
    width: 2.5rem;
    padding-top: 20px;
    padding-left: 20px;
  }
}

.cardChipLeft {
  svg {
    padding-left: 8px;
  }
}

.cardChipRight {
  right: 0;
  bottom: 0;
}

.card {
  background: var(--blackest);
  border-radius: 13px;
  padding: 0.25rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px -5px 5px rgba(0, 0, 0, 0.2);

  .quantity {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    background-color: var(--blackest);
    margin-top: -50px;

    p {
      color: var(--off-white);
      font-weight: bolder;
      margin-top: 20px;
      margin-left: 12px;
    }
  }

  .cardArt,
  .cardPlaceholder {
    border-radius: var(--border-radius-lg);
  }

  .cardPlaceholder {
    span {
      position: absolute;
      height: 100px;
      width: 200px;
      p {
        color: var(--white);
      }
    }
  }
}

.overflowElipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardListRow {
  justify-content: space-between;
  max-width: 650px;
  margin: var(--pad-xxxs) 0;

  .primaryDetails {
    align-items: center;
    display: flex;
    width: 300px;
    max-width: 300px;
    text-align: left;
  }

  .setDetails {
    width: 250px;
    text-align: right;
  }

  .priceDetails {
    width: 50px;
    text-align: right;
  }

  svg {
    height: 1rem;
    width: 1rem;
    margin-right: var(--pad-xs);
  }

  &:hover {
    cursor: pointer;
    color: var(--blue);
    transition: var(--ease-in);
  }
}

.cardListPreview .card {
  max-width: 275px;
}

.cardListContainer {
  display: flex;
  flex-direction: row;
  gap: var(--pad-sm);
  justify-content: center;
}
