.pageTitle {
  text-align: center;
  max-width: 100%;
  margin: 4rem auto 4rem auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5),
    0px -10px 10px rgba(0, 0, 0, 0.5);
  padding: var(--pad-xxs);
  color: var(--white);

  h1 {
    font-size: var(--font-size-xxl);
    font-family: "Source Serif 4", serif;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: -6px;
    margin-top: var(--pad-xxs);
  }
  p {
    font-weight: 600;
  }
}

.headingContainer {
  background-image: url("../assets/wallpaper.png");
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pad-xxs);
  background-color: var(--black);
  border-radius: var(--border-radius-base);
  max-width: 400px;
  margin: 0 auto 2rem auto;
  padding: var(--pad-sm) var(--pad-sm) var(--pad-xs) var(--pad-sm);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.deckName {
  font-size: var(--font-size-lg);
  margin: 0 !important;
}

.playStyleTag {
  padding: 5px var(--pad-xs);
  border-radius: var(--border-radius-base);
  background-color: var(--darker-gray);
  font-weight: bold;
  p {
    letter-spacing: 1px;
    font-size: var(--font-size-sm);
    margin: 0 !important;
    color: var(--white) !important;
    text-transform: uppercase;
  }
}

.uploadContainer {
  label {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    padding: var(--pad-xxs) var(--pad-xxs);
    justify-content: center;
    border-radius: var(--border-radius-base);
    font-weight: 600;
    margin-bottom: var(--pad-xxs);

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.5;
      transition: var(--ease-in);
    }
  }
}

.searchContainer {
  margin: var(--pad-xs) auto var(--pad-xs) auto;
  max-width: 400px;

  .subtext {
    margin-top: var(--pad-xs);
    font-size: var(--font-size-base);
    align-items: center;
    display: flex;

    svg {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: var(--pad-xxs);
    }
  }
}

.manaPlaceholder {
  width: 2rem;
  height: 2rem;
  display: block;
  border-radius: 100%;
  background-color: var(--off-white);
}
.black {
  background-color: var(--black);
}
.green {
  background-color: var(--dark-green);
}
.white {
  background-color: var(--white);
  border: 2px solid var(--off-white);
}
.manaRow {
  margin-bottom: var(--pad-xs);
  display: flex;
  flex-direction: row;
  gap: var(--pad-xxs);
}

.searchBar {
  width: 100%;
  border-radius: var(--border-radius-base);
  background-color: var(--dark-gray);
  border: none;
  padding: var(--pad-xxs) var(--pad-xs);
  color: var(--white);
  margin-top: var(--pad-xxs);

  &::placeholder {
    color: var(--white);
  }
}

.searchResults {
  margin-top: 0px;
  overflow-y: scroll;
  list-style: none;
  max-height: 200px;
  max-width: 400px;

  li {
    padding: var(--pad-xs);
    text-decoration: none !important;
    background-color: var(--darker-gray);

    &:hover {
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: var(--black);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: var(--border-radius-base);
    border: none;
  }
}

.actionRow {
  justify-content: space-between;
  margin-bottom: var(--pad-sm);

  a:hover {
    cursor: pointer;
    color: var(--green);
    transition: var(--ease-in);
  }
  button:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: var(--ease-in);
  }
}

.primaryButton {
  font-family: "Quattrocento Sans", sans-serif;
  border: none;
  color: var(--white);
  font-size: var(--font-size-base);
  background-color: var(--blue);
  padding: var(--pad-xxs) var(--pad-xs);
  border-radius: var(--border-radius-base);
  font-weight: 600;
  justify-content: center;
  display: flex;
  align-items: center;

  svg {
    margin-right: var(--pad-xxs);
  }
}

.bold {
  font-weight: 600;

  p {
    font-weight: 600;
  }
}

.tertiaryButton {
  display: flex;
  align-items: center;

  svg {
    margin-right: var(--pad-xs);
  }
}

.centred {
  text-align: center;
}

.dataContainer {
  padding: var(--pad-sm);
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--black);
}

.deckCardSummary {
  border-left: 2px var(--off-white) solid;
  color: var(--black);

  ul {
    list-style: none;
  }

  li {
    text-decoration: none;
  }
}

.deckOverview {
  margin-bottom: var(--pad-sm);
  background-color: var(--white);
  border-radius: var(--border-radius-base);
  padding: var(--pad-sm);
  justify-content: space-between;

  .deckCol1 {
    max-width: 500px;
    margin-right: var(--pad-xs);
  }

  p {
    color: var(--blackest);
  }

  input,
  select,
  textarea {
    font-size: var(--font-size-base);
    border-radius: var(--border-radius-base);
    border: 2px solid var(--dark-gray);
    padding: var(--pad-xxs) var(--pad-xs);
    color: var(--black);
    margin-bottom: var(--pad-xs);
    background-color: var(--white);
  }

  textarea {
    font-family: "Quattrocento Sans", sans-serif;
    width: 373px;
    height: 45px;
    font-weight: 500;
    resize: none;
    margin-bottom: 0;
  }
}

.subtext {
  opacity: 0.75;
  font-size: var(--font-size-sm);
  margin-bottom: 0;
}

.emphasis {
  font-weight: 600;
  color: var(--black);
}

.borderBottom {
  border-bottom: 2px solid var(--dark-gray);
  padding-bottom: var(--pad-sm);
  margin-bottom: var(--pad-xs);
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.deckGrid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.flexEnd {
  display: flex;
  justify-content: space-between;
}
.deck {
  background: var(--white);
  border-radius: 13px;
  padding: var(--pad-xs);
  text-align: center;
  color: var(--black);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px -5px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: var(--ease-in);
  }

  .emphasis {
    font-size: var(--font-size-lg);
    margin-bottom: 0 !important;
  }

  .description {
    max-height: 30px;
  }

  .deckCardSummary {
    border: none;

    ul {
      padding-left: 0 !important;
    }
  }
}
