@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.945);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colour variables */
  --white: #f5f5f5;
  --off-white: #d9d9d9;
  --gray: #9698a7;
  --dark-gray: #6d6d6d;
  --darker-gray: #3d4155;
  --darkest-gray: #252835;
  --black: #161820;
  --blackest: #0f1218;
  --green: #bde049;
  --dark-green: #708637;
  --blue: #4da5b4;
  --dark-blue: #578c96;
  --red: #e56060;
  --purple: #815d98;

  --font-size-xs: 10px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 28px;
  --font-size-xxl: 42px;

  --pad-xxxs: 0.4rem;
  --pad-xxs: 0.5rem;
  --pad-xs: 1rem;
  --pad-sm: 2rem;
  --pad-md: 5rem;
  --pad-xl: 10rem;

  --border-radius-base: 0.3rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 0.9rem;

  --ease-in: 0.3s ease-in;
}

body {
  margin: 0;
  background-color: var(--black);
}
