@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.945);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colour variables */
  --white: #f5f5f5;
  --off-white: #d9d9d9;
  --dark-gray: #6d6d6d;
  --darker-gray: #3b3b3b;
  --black: #2c2c2c;
  --green: #bde049;
  --blue: #4da5b4;

  --font-size-xs: 10px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 28px;
  --font-size-xxl: 42px;

  --pad-xxs: 0.5rem;
  --pad-xs: 1rem;
  --pad-sm: 2rem;
  --pad-md: 5rem;
  --pad-xl: 10rem;

  --border-radius-base: 0.5rem;
  --border-radius-lg: 0.75rem;

  --ease-in: 0.3s ease-in;
}

body {
  margin: 0;
}
